.services-container{
    margin-top: 180px;
}
.service-heading{
    font-weight: 600;
    size: 34px;
    line-height: 43px;
    letter-spacing: 0.4px;
    text-align: center;
}
.serviceCard{
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    box-shadow: 5px 5px 20px rgb(209, 209, 209);
    padding: 20px;
    height: 300px;
    border-radius: 15px;
    margin: 10px;
    overflow: hidden;
    color: black !important;
}
.serviceCard p{
    text-align: center;
}
.serviceCard img{
    margin-bottom: 15px;
}
.serviceCard:hover{
    cursor: pointer;
    background-color: #FBD062;
    animation: cardAnimation 1s ease-in-out alternate;
}

@keyframes cardAnimation {
    0% {transform: rotateX(0deg);}
    25% {transform: rotateX(90deg);}
    50% {transform: rotateX(180deg);}
    75% {transform: rotateX(270deg);}
    100% {transform: rotateX(360deg);}
}